@model IEnumerable<BusinessObjects.Customer>
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Index";
	var value = Context.Request.HttpContext.Session.GetString("role");
	if (value == null)
	{
		Context.Response.Redirect("/Home/Login");
	};
}

<h1>Member</h1>
@if (value == "Admin")
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomerName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Country)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Birthday)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CustomerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Country)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Birthday)
				</td>
				<td>
					@if (value == "Admin")
					{
						<a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> <span>|</span>
						<a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> <span>|</span>
						<a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
					}
					else
					{
						<a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> <span>|</span>
						<a asp-action="Details" asp-route-id="@item.CustomerId">Details</a>
					}

				</td>
			</tr>
		}
	</tbody>
</table>
